.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px darkslategray;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.portfolio-container a {
    align-self: center;
}

.portfolio-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80vw;
    text-align: center;
    align-self: center;
}

.portfolio-image {
    width: 60vw;
}

.github-button-container {
    text-align: center;
}

.contact-container {
    text-align: center;
    padding: 2rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-headshot-container {
    text-align: center;
}

